.hamburger {
    display: none;
    padding: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
  
  .menu {
    display: flex;
    justify-content: space-around;
  }
  
  .menuItem {
    padding: 10px;
  }
  
  /* Styles pour les écrans mobiles */
  @media (max-width: 768px) {
    .hamburger {
      display: block;
    }
  
    .menu {
      display: none;
      flex-direction: column;
      align-items: center;
      position: absolute;
      top: 50px;
      left: 0;
      width: 100%;
      background-color: white;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
  
    .menu.open {
      display: flex;
    }
  
    .menuItem {
      margin: 10px 0;
      width: 100%;
      text-align: center;
    }
  }
  